:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body,
#root {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}


.grid-grdient {
  background-image: radial-gradient(#d8cece 5%, transparent 0);
  background-size: 22px 22px;
}